h1{
    width: 150px;
    height: 80px;
    background: gray;
    display: block;
}

h2{
    width: 150px;
    height: 80px;
    background: gray;
    display: inline;
}

h3{
    width: 150px;
    height: 80px;
    background: gray;
    display: inline-block;
}