body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #540f8dbd;
    display: flex;
    justify-content: center;
    padding: 40px;
}


.container {
    display: flex;
    gap: 20px;
}


.card {
    width: 250px;
    background: white;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;

    display: flex;
    flex-direction: column;
}


.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.card h2 {
    font-size: 18px;
}


.card p {
    font-size: 14px;
    color: #555;
}


.card button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: purple;
    color: white;
    cursor: pointer;
}

.card button:hover {
    background-color: #6a0dad;
}