/* button {
    border-radius: 15px;
    background-color: aqua;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;  
} */

/* button:hover{
    background-color: blue;
    border-radius: 5px;
    transform: scale(1.1); /*amplia*/
    /* transform: rotate(360deg); */ /*roda*/
  
/* }  */

/*criando a animalçai com @keyframes */
/* @keyframes fadeIn{
from {opacity: 0;}
to { opacity: 1;}
}
.fade-in {
animation: fadeIn 2s ease ;
}
 */
/* 
@keyframes fadeOut{
    from {opacity: 0;}
    to {opacity: 0;}

}
.fade-out {
    animation: fadeOut 2s ease;
}
 */

/*@keyframes slideIn {
    from {transform: translatex(-100%);}
    to {transform: translatex(0);}
}
.slide-in {
    animation: slideIn 2s ease;
}
*/
/* 
@keyframes zommIn{
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}
.zommIn {
    background-color: blue;
    width: 200px;
    animation: zoomIn 0.6s ease;
}


@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.pulse {
    width: 50px;
    animation: pulse 1s ease;
}


@keyframes girar{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.girar{
    background-color: brown;
    width: 18px;
    animation: girar 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader {
  border: 6px solid #eee;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 30px;
}
 */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.box {
    opacity: 0;
    transform: translateX(-100%);
}

.box.visible {
    animation: slideIn 2s ease forwards;
}
